// Config

// Typography
$base-font-size: 15px;
$base-line-height: 1.5;

$normal: 500;
$bold: 700;

// $heading1: 109.657px;
// $heading2: 67.773px;
// $heading3: 41.887px;
// $heading4: 25.888px;
// $heading5: 16px;
// $heading6: 9.889px;

$base-font-stack:             'futura-pt-1', 'futura-pt-2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$menu-font-stack:             'futura-pt-1', 'futura-pt-2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-stack:           'postino-std-1', 'postino-std-2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-special-font-stack:   'tamarillo-1', 'tamarillo-2', 'Brush Script MT', cursive;
$accent-font-stack:           'baroque-text-1', 'baroque-text-2';
$entypo-font:                 'Entypo';
$ionicons-font:               'Ionicons';

// Included Fonts
$webfont-directory: '/assets/fonts';

// Breakpoints for Breakpoint (http://breakpoint-sass.com/)
$small-min:   0;
$small-max:   640px;
$medium-min:  641px;
$medium-max:  1024px;
$large-min:   1025px;
$large-max:   1440px;
$xlarge-min:  1441px;
$xlarge-max:  1920px;
$xxlarge-min: 1921px;
