// Primary Stack

@import 'mixins';
@import 'extends';
@import 'functions';

.primaryStack {
  background-color: hsl($hue, $sat, 15%);
  bottom: 0;
  color: hsl($hue, $sat, 40%);
  float: left;
  height: auto;
  left: 0;
  overflow: hidden;
  padding: 0 35px 20px;
  position: fixed;
  top: 0;
  transition: transform 1s ease-out;
  width: 250px;
  z-index: 0;

  a {
    &,
    &:visited {
      color: hsl($hue, $sat, 40%);
    }

    &:focus,
    &:hover,
    &:active {
      color: hsl($hue, $sat, 70%);
    }
  }

  h2,
  h2 a {
    color: hsl($hue, $sat, 60%);
    font-size: 9px;
    font-weight: $normal;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  header,
  nav,
  section,
  footer {
    border-bottom: 1px solid hsl($hue, $sat, 30%);
    display: block;
    float: left;
    padding: 0.4em 0 1em;
    width: 100%;
  }

  .site-header {
    padding-top: 0;
  }

  .contactMetaData {

    dl,
    dt,
    dd {
      display: inline;
      margin: 0;
      padding: 0;

      &,
      a {
        font-size: 13px;
      }
    }

    dl {
      font-weight: $bold;

      dt {
        color: hsl($hue, $sat, 30%);
        font-size: 9px;
        text-transform: uppercase;

        &:after {
          content: '\00a0\00a0\00a0';
        }
      }

      dd {

        &:after {
          content: '\A';
          white-space: pre;
        }
      }
    }

    .socialLinks {
      border-bottom: none;
      border-top: 1px dotted hsl($hue, $sat, 20%);
      margin: 10px 0 0;
      padding: 10px 0 0;

      ul {

        &,
        & li,
        & li a {
          display: block;
          float: left;
          margin: 0;
          padding: 0;
          width: 100%;
        }

        li {
          margin-right: 5px;
          overflow: hidden;

          &,
          a {
            font-family: $ionicons-font;
            height: 24px;
            line-height: 1;
            text-align: center;
            width: 24px;
          }

          a {
            border-radius: 50%;
            font-size: 14px;
            padding: 5px 0 0 1px;
            text-shadow: 0 0 1px rgba(0, 0, 0, .5);
          }
        }

        #twitter a    { background-color: hsl($hue, $sat, 36%); }
        #facebook a   { background-color: hsl($hue, $sat, 29%); }
        #linkedin a   { background-color: hsl($hue, $sat, 29%); }
        #googleplus a { background-color: hsl($hue, $sat, 33%); }

        #twitter a:after    { content: '\f243'; }
        #facebook a:after   { content: '\f231'; }
        #linkedin a:after   { content: '\f239'; }
        #googleplus a:after { content: '\f235'; }

        #twitter a:hover    { background-color: hsl($hue, $sat, 41%); }
        #facebook a:hover   { background-color: hsl($hue, $sat, 34%); }
        #linkedin a:hover   { background-color: hsl($hue, $sat, 34%); }
        #googleplus a:hover { background-color: hsl($hue, $sat, 38%); }
      }
    }
  }

  .siteMetaData {

    ul {

      &,
      & li,
      & li a {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      & {
        margin-left: -8px;
      }

      li {
        background-origin: content-box;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 40px;
        padding: 4%;
        text-align: center;
        transition: 0.3s;
        width: 25%;

        &:focus,
        &:hover,
        &:active {
          // padding: 2%;
        }

        img {
          height: 70%;
          margin-top: 4px;
          transition: 1s;
          width: auto;
        }

        a {
          height: 100%;
          width: 100%;
        }
      }

      .span-1 { width:  20%; }
      .span-2 { width:  40%; }
      .span-3 { width:  60%; }
      .span-4 { width:  80%; }
      .span-5 { width: 100%; }

      #iLoveAdobeCC    { background-image: url('/assets/images/love/i-love-adobecc.min.svg'); }
      #iLoveApple      { background-image: url('/assets/images/love/i-love-apple.min.svg'); }
      #iLoveAssemble   { background-image: url('/assets/images/love/i-love-assemble.min.svg'); }
      #iLoveBower      { background-image: url('/assets/images/love/i-love-bower.min.svg'); }
      #iLoveCSS3       { background-image: url('/assets/images/love/i-love-css3.min.svg'); }
      #iLoveDrupal     { background-image: url('/assets/images/love/i-love-drupal.min.svg'); }
      #iLoveGit        { background-image: url('/assets/images/love/i-love-git.min.svg'); }
      #iLoveGrunt      { background-image: url('/assets/images/love/i-love-grunt.min.svg'); }
      #iLoveHTML5      { background-image: url('/assets/images/love/i-love-html5.min.svg'); }
      #iLoveJavaScript { background-image: url('/assets/images/love/i-love-js.min.svg'); }
      #iLovejQuery     { background-image: url('/assets/images/love/i-love-jquery.min.svg'); }
      #iLoveMDN        { background-image: url('/assets/images/love/i-love-mdn.min.svg'); }
      #iLoveSass       { background-image: url('/assets/images/love/i-love-sass.min.svg'); }
      #iLoveSublime    { background-image: url('/assets/images/love/i-love-sublime.min.svg'); }
      #iLoveYeoman     { background-image: url('/assets/images/love/i-love-yeoman.min.svg'); }
    }
  }

  .siteCredits {

    ul {
      font-size: 10px;

      &,
      & li,
      & li a {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      li {
        margin-bottom: 0.5em;

        a {
          line-height: 1.2;
        }
      }
    }

    small {
      font-weight: $normal;
      font-size: 100%;
    }
  }

  footer {
    border-bottom: none;
    font-size: 10px;
  }
}

.home .primaryStack {

  @include breakpoint($large-min) {
    bottom: 0;
    height: auto;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1;
  }
}

.offcanvasactive .primaryStack {
  //transform: translate3d(250px, 0, 0);
  //transition: transform .5s ease-in;
  left: 0;
  transition: 0.5s ease-in;

  @include breakpoint($small-min $medium-max) {
    box-shadow: inset -20px 0 20px -20px hsl($hue, $sat, 0%);
  }
}
