---
component: mobilestack
---
<header id="mobileStack" class="mobileStack">
  <a class="offCanvasToggle" href="#"></a>
  <h1>
    <a href="/">
      <span class="first">B</span><span class="up">r</span><span class="down">i</span><span class="up">a</span><span class="down">n</span>
      <span class="first">C</span><span class="up">l</span><span class="down">a</span><span class="up">r</span><span class="down">k</span><small>.com</small>
    </a>
  </h1>
</header>
