---
component: mobilestack
---
<header id="mobileStack" class="mobileStack">
  <a class="offCanvasToggle" href="#"></a>
  <h1>
    <a href="/">Br<span>ian</span><span>-</span>Cla<span>rk</span><small>.com</small></a>
  </h1>
</header>
