---
component: primarystack
---
<div id="primaryStack" class="primaryStack offCanvasMenu">
  <header id="header" class="header">
    <a href="/">
      <h1>
        <small>The Work of</small>
        <div>Br<span>ian</span><br>Cla<span>rk</span></div>
      </h1>
      <small>www.brian-clark.com</small>
    </a>
  </header>
  <nav id="primaryNav" class="primaryNav">
    <ul>
      <li class="active">
        <a data-filter="*">All</a>
      </li>
      <li>
        <a data-filter=".portfolio, .portfolio ~ .thumbnail">Portfolio</a>
        <ul>
          {{#tags}}
            <li><a data-filter=".{{tag}} .tile">{{tag}}</a></li>
          {{/tags}}
        </ul>
      </li>
      <li>
        <a data-filter=".sketches-and-drawings">Sketches &amp; Drawings</a>
      </li>
      <li>
        <a data-filter=".about">About</a>
      </li>
      <li>
        <a data-filter=".more">More</a>
      </li>
    </ul>
  </nav>
  <section id="contactMetaData" class="contactMetaData">
    <h2>Contact Me</h2>
    <dl>
      <dt>Phone</dt>
      <dd>(281) 703-1673</dd>
      <dt>Email</dt>
      <dd><a href="mailto:go@brian-clark.com" target="_href">go@brian-clark.com</a></dd>
    </dl>
    <nav id="socialLinks" class="socialLinks">
      <ul>
        <li id="twitter"><a href="/link/to/modal/"></a></li>
        <li id="facebook"><a href="/link/to/modal/"></a></li>
        <li id="linkedin"><a href="/link/to/modal/"></a></li>
        <li id="googleplus"><a href="/link/to/modal/"></a></li>
      </ul>
    </nav>
  </section>
  <section id="siteMetaData" class="siteMetaData">
    <h2>Built With</h2>
    <ul>
      <li class="span-1" id="iLoveSublime" title="Sublime Text">
        <a href="//www.sublimetext.com/" target="_blank">
          <img src="/assets/images/love/i.love.sublime.png" width="1" height="1" alt="Sublime Text">
        </a>
      </li>
      {{!--
      <li class="span-1" id="iLoveDrupal" title="Drupal">
        <a href="//drupal.org" target="_blank">
          <img src="/assets/images/love/i.love.drupal.svg" width="1" height="1" alt="Drupal">
        </a>
      </li>
      --}}
      <li class="span-1" id="iLoveHTML5" title="HTML5">
        <img src="/assets/images/love/i.love.html5.svg" width="1" height="1" alt="HTML5">
      </li>
      <li class="span-1" id="iLoveCSS3" title="CSS3">
        <img src="/assets/images/love/i.love.css3.svg" width="1" height="1" alt="CSS3">
      </li>
      <li class="span-1" id="iLoveJavaScript" title="JavaScript">
        <img src="/assets/images/love/i.love.js.svg" width="1" height="1" alt="JavaScript">
      </li>
      <li class="span-1" id="iLoveYeoman" title="Yeoman">
        <a href="//www.yeoman.io/" target="_blank">
          <img src="/assets/images/love/i.love.yeoman.svg" width="1" height="1" alt="Yeoman">
        </a>
      </li>
      <li class="span-1" id="iLoveGrunt" title="Grunt">
        <a href="//www.gruntjs.com/" target="_blank">
          <img src="/assets/images/love/i.love.grunt.svg" width="1" height="1" alt="Grunt">
        </a>
      </li>
      <li class="span-1" id="iLoveBower" title="Bower">
        <a href="//www.bower.io/" target="_blank">
          <img src="/assets/images/love/i.love.bower.svg" width="1" height="1" alt="Bower">
        </a>
      </li>
      <li class="span-1" id="iLoveSass" title="Sass">
        <a href="//www.sass-lang.com/" target="_blank">
          <img src="/assets/images/love/i.love.sass.svg" width="1" height="1" alt="Sass">
        </a>
      </li>
      <li class="span-1" id="iLovejQuery" title="jQuery">
        <a href="//jquery.com/" target="_blank">
          <img src="/assets/images/love/i.love.jquery.svg" width="1" height="1" alt="jQuery">
        </a>
      </li>
      <li class="span-1" id="iLoveGit" title="Git">
        <a href="//git-scm.com/" target="_blank">
          <img src="/assets/images/love/i.love.git.svg" width="1" height="1" alt="Git">
        </a>
      </li>
      <li class="span-1" id="iLoveMDN" title="Mozilla Developer Network">
        <a href="//developer.mozilla.org/" target="_blank">
          <img src="/assets/images/love/i.love.mdn.svg" width="1" height="1" alt="Mozilla Developer Network">
        </a>
      </li>
      <li class="span-1" id="iLoveApple" title="Apple">
        <a href="//www.apple.com/" target="_blank">
          <img src="/assets/images/love/i.love.apple.svg" width="1" height="1" alt="Apple">
        </a>
      </li>
      <li class="span-1" id="iLoveAdobeCC" title="Adobe Creative Cloud">
        <a href="//www.adobe.com/" target="_blank">
          <img src="/assets/images/love/i.love.adobecc.png" width="1" height="1" alt="Adobe Creative Cloud">
        </a>
      </li>
    </ul>
  </section>
  <section id="siteCredits" class="siteCredits">
    <h2>Site Credits</h2>
    <ul>
      <li><a href="//ionicons.com" target="_blank">Ionicons by @benjsperry<br><small>www.ionicons.com</small></a></li>
    </ul>
  </section>
  <footer id="footer" class="footer">Copyright &copy; {{moment format="YYYY"}} Brian Clark.<br>All rights reserved.</footer>
</div>
