---
component: primarystack
---
<div id="primaryStack" class="offCanvasStack primaryStack">

  {{> site-header }}

  <nav id="primaryNav" class="primaryNav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/portfolio.html">Portfolio</a>
      </li>
      <li>
        <a href="/sketches-and-drawings.html">Sketches &amp; Drawings</a>
      </li>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/more.html">More</a>
      </li>
    </ul>
  </nav>
  <section id="contactMetaData" class="contactMetaData">
    <h2>Contact Me</h2>
    <dl>
      <dt>Phone</dt>
      <dd>(281) 703-1673</dd>
      <dt>Email</dt>
      <dd><a href="mailto:go@brian-clark.com" target="_href">go@brian-clark.com</a></dd>
    </dl>
    {{!--
    <nav id="socialLinks" class="socialLinks">
      <ul>
        <li id="twitter"><a href="/link/to/modal/"></a></li>
        <li id="facebook"><a href="/link/to/modal/"></a></li>
        <li id="linkedin"><a href="/link/to/modal/"></a></li>
        <li id="googleplus"><a href="/link/to/modal/"></a></li>
      </ul>
    </nav>
    --}}
  </section>
  <section id="siteMetaData" class="siteMetaData">
    <h2>Built With</h2>
    <ul>
      <li class="span-1" id="iLoveSublime" title="Sublime Text">
        <a href="//www.sublimetext.com/" target="_blank"></a>
      </li>
      {{!--
      <li class="span-1" id="iLoveDrupal" title="Drupal">
        <a href="//drupal.org" target="_blank"></a>
      </li>
       --}}
      <li class="span-1" id="iLoveHTML5" title="HTML5"></li>
      <li class="span-1" id="iLoveCSS3" title="CSS3"></li>
      <li class="span-1" id="iLoveSass" title="Sass">
        <a href="//www.sass-lang.com/" target="_blank"></a>
      </li>
      <li class="span-1" id="iLoveJavaScript" title="JavaScript"></li>
      <li class="span-1" id="iLovejQuery" title="jQuery">
        <a href="//jquery.com/" target="_blank"></a>
      </li>
      <li class="span-1" id="iLoveYeoman" title="Yeoman">
        <a href="//www.yeoman.io/" target="_blank"></a>
      </li>
      <li class="span-1" id="iLoveGrunt" title="Grunt">
        <a href="//www.gruntjs.com/" target="_blank"></a>
      </li>
      <li class="span-1" id="iLoveBower" title="Bower">
        <a href="//www.bower.io/" target="_blank"></a>
      </li>
      <li class="span-1" id="iLoveGit" title="Git">
        <a href="//git-scm.com/" target="_blank"></a>
      </li>
      <li class="span-3" id="iLoveAssemble" title="Assemble">
        <a href="//assemble.io/" target="_blank"></a>
      </li>
      <li class="span-1" id="iLoveMDN" title="Mozilla Developer Network">
        <a href="//developer.mozilla.org/" target="_blank"></a>
      </li>
      <li class="span-1" id="iLoveApple" title="Apple">
        <a href="//www.apple.com/" target="_blank"></a>
      </li>
      {{!--
      <li class="span-1" id="iLoveAdobeCC" title="Adobe Creative Cloud">
        <a href="//www.adobe.com/" target="_blank"></a>
      </li>
      --}}
    </ul>
  </section>
  <section id="siteCredits" class="siteCredits">
    <h2>Site Credits</h2>
    <ul>
      <li><a href="//ionicons.com" target="_blank">Ionicons by @benjsperry<br><small>www.ionicons.com</small></a></li>
    </ul>
  </section>
  <footer id="footer" class="footer">Copyright &copy; {{moment format="YYYY"}} Brian Clark.<br>All rights reserved.</footer>
</div>
