---
component: site-header
---
<header class="site-header clearfix">
  <a href="/">
    <h1>
      <small class="lead-in">The Work of</small>
      <div>
        <span class="first">B</span><span class="up">r</span><span class="down">i</span><span class="up">a</span><span class="down">n</span>
        <span class="first">C</span><span class="up">l</span><span class="down">a</span><span class="up">r</span><span class="down">k</span>
      </div>
    </h1>
    <small class="follow-up">www.brian-clark.com</small>
  </a>
</header>
