// Root Files Layout

@import 'mixins';
@import 'extends';
@import 'functions';

main {
  padding: 4px 0 0 4px;

  @include breakpoint($small-min $small-max) {
    z-index: 10;
  }

  @include breakpoint($large-min) {
    padding-left: 254px;
  }
}
