---
section: home
title: Home
---
<main id="main" class="main" role="main">

  {{#withSort pages "data.date"}}

    {{> portfolio }}

    {{> sketches-and-drawings }}

    {{> about }}

    {{> more }}

  {{/withSort}}

</main>
