---
#section: portfolio
title: Portfolio
layout: portfolio.hbs
---
<nav class="filters">
  <ul>
    <li class="active"><a data-filter="*">All</a></li>
    {{#tags}}
      <li><a data-filter=".{{tag}} .tile">{{tag}}</a></li>
    {{/tags}}
  </ul>
</nav>
<main id="main" class="main" role="main">

  {{#withSort pages "data.date"}}

    {{> portfolio }}

  {{/withSort}}

</main>
