// Portfolio Stack

@import 'mixins';
@import 'extends';
@import 'functions';

.portfolioStack {
  background-color: hsl($hue, $sat, 90%);
  color: hsl($hue, $sat, 50%);
  font-size: 13px;
  overflow: hidden;
  padding: 0 35px 20px;
  width: 100%;

  @include breakpoint($small-min $small-max) {
    float: left;
    padding: 0 10% 5%;
  }

  @include breakpoint($medium-min) {
    bottom: 0;
    height: auto;
    left: auto;
    max-width: 250px;
    position: absolute;
    top: 0;
  }

  a.offCanvasToggle {
    margin-left: -10px;
    margin-top: 6px;
  }

  header,
  nav,
  section {
    border-top: 1px solid hsl($hue, $sat, 80%);
    float: left;
    width: 100%;
  }

  header {
    border-top: 0;
    padding-top: 3em;

    @include breakpoint($small-min $small-max) {
      padding-top: 2em;
    }
  }

  .section {
    background-color: hsl($hue, $sat, 50%);
    color: hsl($hue, $sat, 15%);
    font-size: 12px;
    font-weight: $bold;
    padding: 0.6em 0.8em;
    position: absolute;
    text-transform: uppercase;
    top: 0;

    @include breakpoint($small-min $small-max) {
      right: 10%;
    }

    @include breakpoint($medium-min) {
      right: 35px;
    }
  }

  .tag {
    color: hsl($hue, $sat, 45%);
    font-family: $header-font-stack;
    font-size: 11px;
    text-transform: uppercase;
  }

  h2 {
    color: hsl($hue, $sat, 25%);
    font-family: $base-font-stack;
    font-size: 30px;
    font-weight: $normal;
    text-transform: none;
  }

  .description {
    border-top: 0;
  }

  .metaData {
    float: left;
    width: 100%;

    dl,
    dt,
    dd {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    dl {
      border-top: 1px dotted hsl($hue, $sat, 80%);
      float: left;
      padding: 0.4em 0 0.5em;

      &:first-child {
        border-top: 0;
      }

      dt {
        color: hsl($hue, $sat, 40%);
        font-family: $header-font-stack;
        font-size: 9px;
        font-weight: $normal;
        text-transform: uppercase;

        &:after {
          content: "\A";
          white-space: pre;
        }
      }

      dd {
        color: hsl($hue, $sat, 25%);
        font-size: $base-font-size;
        padding-bottom: .5em;

        & + dd {
          border-top: 1px dashed hsl($hue, $sat, 80%);
          padding: .5em 0;
        }
      }
    }
  }
}
