// Secondary Nav

@import 'mixins';
@import 'extends';
@import 'functions';

.secondaryNav {
  font-family: $menu-font-stack;
  padding: 10px 0 20px;
  font-weight: $bold;
  font-size: 14px;

  @include breakpoint($small-min) {}

  @include breakpoint($medium-min) {}

  @include breakpoint($large-min) {}

  @include breakpoint($xlarge-min) {}

  @include breakpoint($xxlarge-min) {}

  ul,
  ul li,
  ul li a {
    display: block;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  ul {
    list-style-type: none;

    li {
      &,
      a {
        font-family: $menu-font-stack;
        color: hsl($hue, $sat, 55%);
        font-size: 14px;

        @include breakpoint($small-min) {}

        @include breakpoint($medium-min) {}

        @include breakpoint($large-min) {}

        @include breakpoint($xlarge-min) {}

        @include breakpoint($xxlarge-min) {}
      }

      a {
        padding: 10px 35px;

        @include breakpoint($small-min) {}

        @include breakpoint($medium-min) {}

        @include breakpoint($large-min) {}

        @include breakpoint($xlarge-min) {}

        @include breakpoint($xxlarge-min) {}

        &:hover {
          background-color: hsl($hue, $sat, 20%);
        }

        figure {
          border: 2px solid hsl($hue, $sat, 15%);
          overflow: hidden;
          height: 30px;
          width: 50px;
          float: left;

          @include breakpoint($small-min) {}

          @include breakpoint($medium-min) {}

          @include breakpoint($large-min) {}

          @include breakpoint($xlarge-min) {}

          @include breakpoint($xxlarge-min) {}

          img {
            height: auto;
            width: 100%;
          }
        }

        figcaption {
          font-family: $base-font-stack;
          color: hsl($hue, $sat, 40%);
          font-size: 12px;

          @include breakpoint($small-min) {}

          @include breakpoint($medium-min) {}

          @include breakpoint($large-min) {}

          @include breakpoint($xlarge-min) {}

          @include breakpoint($xxlarge-min) {}

          &:after {
            content: "\2026";
          }
        }
      }
    }
  }
}
